[submodule "roles/ssh_authorized_keys"]
	path = roles/ssh_authorized_keys
	url = https://github.com/ffbsee/role-ssh_authorized_keys.git
[submodule "roles/base_packages"]
	path = roles/base_packages
	url = https://gitea.see-base.de/toolbox/role-base_packages.git
[submodule "files/admin_ssh_keys"]
	path = files/admin_ssh_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
[submodule "roles/home_environment"]
	path = roles/home_environment
	url = https://github.com/DO1JLR/role_dotfiles.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/DO1JLR/role_sshd.git
[submodule "roles/blackmagic"]
	path = roles/blackmagic
	url = https://gitea.see-base.de/toolbox/role_blackmagic.git
[submodule "roles/decklink-debugger"]
	path = roles/decklink-debugger
	url = https://gitea.see-base.de/toolbox/role_decklink-debugger.git
[submodule "roles/voctomix"]
	path = roles/voctomix
	url = https://gitea.see-base.de/toolbox/role_install_voctomix.git
[submodule "roles/obs-studio"]
	path = roles/obs-studio
	url = https://github.com/DO1JLR/role_obs-studio.git
[submodule "roles/fonts"]
	path = roles/fonts
	url = https://github.com/ontic/ansible-role-fonts.git
[submodule "roles/install-bat"]
	path = roles/install-bat
	url = https://github.com/aeimer/ansible-install-bat.git
[submodule "roles/firefox"]
	path = roles/firefox
	url = https://github.com/maxbachmann/role-firefox.git
